<div class="card">
    <div class="card-header">
        {{pageTitle}}
    </div>
    <div>
        <input type="text" [(ngModel)]= 'addCode' >
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-2">
                Filter by:
            </div>
        </div>
    </div>
    <div class="table" *ngIf="products && products.length">
        <table>
            <div>No of Elements : {{products.length}} and Filter : {{_addCode}}</div>
            <thead>
                <th>
                    <button class="bn btn-primary" (click)='toggleStatus()'>
                        Show status
                    </button>
                </th>
                <th>Product</th>
                <th>Code</th>
                <th>Available</th>
                <th>Price</th>
                <th>Rating</th>
                <th>Stars</th>
            </thead>
            <tbody>
                <tr *ngFor="let product of products">
                    <td *ngIf="showStatus; else emptyBox">{{product.status}}</td>
                    <ng-template #emptyBox>
                        <td></td>
                      </ng-template>
                    <td>{{product.name}}</td>
                    <td>{{product.code}}</td>
                    <td>{{product.status}}</td>
                    <td>{{product.price}}</td>
                    <td>{{product.rating}}</td>
                    <td><app-star-rating [rating]='product.rating' (ratingGiven)='ratingClick($event)'></app-star-rating></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>